/* CSS declarations go here */
i{
    cursor:pointer;
}
.image1, .image2 {
    position: absolute;

}
.image1 {
    z-index: 1;
}
.image1 {
    z-index: 5;
}
.fontColor .f{
    color: black;
    font-size: small;
}
.fontColor{
    color: antiquewhite;

}
.grey-text{
	
}

.profile-picf{
	border-radius: 100% !important;
    width: 41px !important;
    margin-bottom: -11% !important;
    margin-top: -21px !important;
    margin-right: 7px !important;
    float: right !important;
}